
.home img {
    flex-direction: row;
    display: flex;
  }
  .img-con {
    width: 600px; /* ปรับความกว้างของ canvas ตามต้องการ */
    height: 400px; /* ปรับความสูงของ canvas ตามต้องการ */
    margin: auto; /* จะทำให้ canvas อยู่ตรงกลาง */
    display: flex;
    justify-content: center;
    align-items: center;
  }