
.logonav img {
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
  }
  .toolbar-text {
    color: azure;
      cursor: pointer;
      font-size: 15px;
      font-family: "DM Serif Display", serif;
    }