.container {
  background-image: url("https://i.pinimg.com/736x/fd/dd/26/fddd265fb3e8e9588132a49d7b94ecf5.jpg");
  width: 100%;
  height: 100%;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.logo {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 100%;
  background-color: white;
  padding: 5px;
  margin: 0 auto;
  margin-top: 20px;
}

.logo:hover {
  outline: 3px solid wheat;
}

.pic {
  width: 35%;
  height: 95%;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.H_text {
  color:  #464344;
  font-size: 16px;
  text-align: left;
  padding-top: 5px;
}

* {
  --mdc-outlined-text-field-outline-color:#ef81b4 !important;
  --mdc-outlined-text-field-hover-outline-color:#ef81b4!important;
  --mdc-outlined-text-field-focus-outline-color:#ef81b4 !important;
  font-family: "DM Serif Display", serif !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3; /* สีของกรอบโหลด */
  border-top: 16px solid #3498db; /* สีของตัวโหลด */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.inp {
  width: 400px;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.custom-button {

  top: 10px;
  margin: 25px 0;
  width: 400px;
  height: 40px;
  background-color: #ef81b4 !important;
  color: white !important;
}

.sign-up-link {
  color: #3366cc;
  /* Set the desired color for the link */
  text-decoration: none;
  /* Remove underline */
  cursor: pointer;
}