<div class="container">
  <div class="row" style="justify-content: flex-start;">
   
    <input #inputField hidden type="file" (click)="inputField.value = ''" />
    <img class="logo" src="https://i.pinimg.com/736x/27/49/db/2749dbc1128628928784db8c4bbb5bfc.jpg" alt="image" (click)="inputField.click()">
    
    <p class="H_text">Username :</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter new username</mat-label>
      <input matInput  [(ngModel)]="name">
    </mat-form-field>

    <p class="H_text">Age :</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter new Age</mat-label>
      <input matInput [(ngModel)]="age" />
    </mat-form-field>

    <p class="H_text">Gender :</p>
   
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select [(ngModel)]="gender">
        @for (gender of genders; track gender)
        { 
        <mat-option [value]="gender.value">{{
          gender.name
        }}</mat-option>
        }
      </mat-select>
    </mat-form-field>


    <p class="H_text">prefernce :</p>
    <mat-form-field class="inp" appearance="outline">
      <mat-label>Enter new prefernce</mat-label>
      <input matInput [(ngModel)]="pefer" />
    </mat-form-field>

  
  </div>
  <button mat-flat-button color="primary" class="custom-button"  >Eidt</button>
</div>