<div class="container">
    <div class="row" style="justify-content: flex-start;">
      <!-- <p style="color: black; font-size: 36px; text-align: left; font-weight: 400;">Login to VoteView</p> -->
      <input #inputField hidden type="file" (click)="inputField.value = ''" />
      <img class="logo" src="https://i.pinimg.com/564x/c6/72/9b/c6729bb81456bad950f77934a5614fe6.jpg" alt="image" (click)="inputField.click()">
      <p class="H_text">Username:</p>
      <mat-form-field class="inp" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>
  
      <p class="H_text">Email:</p>
      <mat-form-field class="inp" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email" />
    </mat-form-field>

      <p class="H_text">Password:</p>
      <mat-form-field class="inp" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password" />
    </mat-form-field>

  
      <p class="H_text">New Password:</p>
      <mat-form-field class="inp" appearance="outline">
        <mat-label>Enter your new password</mat-label>
        <input matInput type="password" id="password" #password>
      </mat-form-field>
  
      <p class="H_text">Confirm New Password:</p>
      <mat-form-field class="inp" appearance="outline">
        <mat-label>Confirm your new password</mat-label>
        <input matInput type="password" id="password2" #password2>
      </mat-form-field>
    </div>
    <!-- <button mat-flat-button color="primary" class="custom-button" (click)="edit(name.value , password.value ,password2.value , email.value)">Eidt</button> -->
  </div>