<mat-toolbar style="background-color: #ef81b4">
  <div class="logonav">
    <img
      src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"
    />
  </div>
  <span class="toolbar-text1">Cat breed vote</span>

  <div class="containernav">
    <div class="logonav">
      <img
        src="https://i.pinimg.com/564x/9f/da/86/9fda86b52b4c0e8e649418e7e556b690.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/main">Home</a>
    </div>
  </div>
</mat-toolbar>
<div class="top-container">
  <h1 class="TextHead">Top 10 most voted scenic views.</h1>

  <div class="leaderboard">
    <div class="item" *ngFor="let item of toprank.slice(0, 10); let i = index">
      <div class="counter-icon">{{ i + 1 }}</div>
      <img [src]="item.pictrue_url" alt="Image" />
      <div class="text-container">
        <div class="name">
          <p>Picture by userID {{ item.u_id }}</p>
        </div>
      
        <div class="difference"  *ngIf="item.rank_difference != 0" >
          <p>{{ item.rank_difference }}</p>
        </div>
        <div class="rank">
          <div class="dropdown">
            <ng-container *ngIf="item.rank_difference <= -1">
              <img
                src="https://cdn-icons-png.freepik.com/512/5800/5800691.png"
                alt="Rank Image"
              />
            </ng-container>
            <ng-container *ngIf="item.rank_difference == 0"> 
            <div class="rank0">
                <!-- <p >no rank chang</p> -->
            </div>
            </ng-container>
            <ng-container *ngIf="item.rank_difference >= 1">
              <img
                src="https://cdn-icons-png.freepik.com/512/5800/5800655.png?ga=GA1.1.636306898.1696678666&"
                alt="Dropdown Image"
              />
            </ng-container>
          </div>
        </div>
        
        <div class="eloreating">
          <p>eloreating : {{ item.pictrue_p }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
