<mat-toolbar style="background-color: #ef81b4">
  <div class="logonav">
    <img
      src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"
    />
  </div>
  <span class="toolbar-text1">Cat breed vote</span>

  <div class="containernav">
    <div class="logonav">
      <img
        src="https://i.pinimg.com/564x/9f/da/86/9fda86b52b4c0e8e649418e7e556b690.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/main">Home</a>
    </div>
    <div class="logo1">
      <img
        src="https://i.pinimg.com/564x/2b/e0/1d/2be01dad0db3765405a80ed28044770f.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/login">Log in</a>
    </div>
  </div>
</mat-toolbar>
<body>
  
    <div class="container">
        <div class="div">
          <div class="logo">
            <img
              src="https://i.pinimg.com/564x/c2/36/74/c236747cd41f8a2605f8d6bfededb9ff.jpg"
            />
          </div>
          <div class="pro">
            <p>Sasithon_Nutty</p>
          </div>
        </div>
        <div class="picvote1">
          <img
            src="https://i.pinimg.com/564x/b4/9e/b7/b49eb71e6983ecee173beb8f65581a5e.jpg"
          />
        </div>
      </div>
     
</body>
