<div class="container">
  <div class="old">
    <p>Old Score</p>
  </div>
  <div class="oldpoint">
  
    oldscorewinner = {{this.oldwin}}
    <br>
    Oldscoreloser = {{this.oldloser}}
  </div>
  <div class="fornn3">
    R A ′ ​ =R A ​ +K(S A ​ −E A ​ ) <br />
    R B ′ ​ =R B ​ +K(S B ​ −E B ​ )
  </div>
  <div class="fornn">
    <p>Score</p>
    <div class="newpoint">
      winner = {{ this.winner }}
      <br />
      Loser = {{ this.loser }}
    </div>
  </div>
  <div class="fornn3">
    E A ​ = 1+10 (R B ​ −R A ​ )/400 1 ​

    <br />
    E B ​ = 1+10 (R A ​ −R B ​ )/400 1 ​
  </div>
  <div class="fornn1">
    <p>Total score</p>
    <div class="chang">
      winner = {{ this.winnerelo }}
      <br />
      Loser = {{ this.loserelo }}
     
    </div>
  </div>
</div>
