<body>
    <div class="container">
        <img src="https://i.pinimg.com/564x/06/85/3b/06853b2ff2f2f499757045b75d572db9.jpg">
        <h1>Welcome to<br>
        Cat breed vote</h1>

        <mat-form-field class="inp" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput #user_email />
        </mat-form-field>
        
        <mat-form-field class="inp" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput  type="password" #user_pass/>
        </mat-form-field>

        <button (click)="login(user_email.value,user_pass.value)">Login</button>

        <a  onclick=" routerLink" href="/sigup">Dont have a account? Sign up</a>
    </div>

    <div class="pic">
    </div> 
</body>