<mat-toolbar style="background-color: #ef81b4">
  <div class="logo">
    <img
      src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"
    />
  </div>
  <span class="toolbar-text1">Cat breed votle</span>

  <div class="container">
    <div class="logo1">
      <img
        src="https://i.pinimg.com/564x/59/41/6d/59416d43745cb175f13729948ed2db08.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/top10">Top10</a>
    </div>
    <div class="logo1">
      <img
        src="https://i.pinimg.com/564x/2b/e0/1d/2be01dad0db3765405a80ed28044770f.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/login">Log in</a>
    </div>
    
  </div>
</mat-toolbar>
