<mat-toolbar style="background-color: #ef81b4">
  <div class="logonav">
    <img
      src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"
    />
  </div>
  <span class="toolbar-text1">Cat breed vote</span>

  <div class="containernav">
    <div class="logonav">
      <img
        src="https://i.pinimg.com/236x/9f/da/86/9fda86b52b4c0e8e649418e7e556b690.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/main">Home</a>
    </div>
    <div class="logo1">
      <img
        src="https://i.pinimg.com/564x/59/41/6d/59416d43745cb175f13729948ed2db08.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/top10">Top10</a>
    </div>
  </div>
</mat-toolbar>
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <header class="header">
            <div class="container-fluid">
                <h1>All User</h1>
                <p>All user data including all data</p>
            </div>
        </header>
            <div class="container-fluid">
                <div class="card shadow border-0 mb-7">
                    <table class="table table-hover table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="table-header">UserID</th>
                                <th scope="col" class="table-header">Name</th>
                                <th scope="col" class="table-header">Email</th>
                                <th scope="col" class="table-header">Age</th>
                                
                                <th class="table-header"></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="all">
                            <td class="table-data">
                                1
                            </td>
                            <td>
                                <img  src="https://i.pinimg.com/736x/9a/07/de/9a07de7823712b0660c1863d014d4d3b.jpg "
                                    class="avatar avatar-sm rounded-circle me-2">
                                <a class="text-heading font-semibold" >
                                    Robert Fox
                                </a>
                            </td>
                            <td class="table-data">
                                RobertFoxgmail.com
                            </td>

                            <td class="table-data">
                                25 year
                            </td>
                            <td class="text-end">
                                <a class="btn btn-sm btn-neutral">View</a>
                                <button type="button" class="btn btn-sm btn-square btn-neutral text-danger-hover">
                                    <mat-icon aria-label="delete" class="icon-large">delete</mat-icon>
                                </button>                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>