
.d-flex {
    font-family: Anonymous Pro, monospace;
    background-image: url('https://i.pinimg.com/564x/01/c9/cf/01c9cf2b812e38530fea107047f03102.jpg');
  }
  .all{
    color: #0b0a0b;
    text-align: center;
  }
  .header{
    
    padding-top: 50px;
    padding-bottom: 30px;
  }
  
  .container-fluid {
    color: #eb96c2;
    font-family: "Abril Fatface", serif;
    padding: 0 100px;
    
  }
  
  .container-fluid p {

    font-size: 22px;
  }
  
  .table-header {

    font-size: 18px;
    font-weight: bolder;
  }
  
  .table-data {
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
  }
  
  
  .thead-light{

    text-align: center;
  }
  .text-heading {
  
    font-size: 16px;
    font-weight: lighter;
    cursor: pointer;
  
  }
  
  a.btn {
    color: #010101;
    width: 70px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: lighter;
  }
  
  .icon-large {
    font-size: 26px;
  }
  
  .avatar {
    width: 45px;
    height: 45px;
    border: 2px solid #ccc;
    object-fit: cover;
    cursor: pointer;
  }
  
.containernav {
    color: azure;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 64%;
    padding: 0 20px;
  }
  
  .logonav img {
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
  }
  
  .logo1 img {
    vertical-align: middle;
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
  }
  
  .toolbar-text {
    color: azure;
    cursor: pointer;
    font-size: 15px;
    font-family: "DM Serif Display", serif;
  }
  
  .toolbar-text1 {
    color: azure;
    font-size: 32px;
    font-weight: bold;
    font-family: "DM Serif Display", serif;
  }
  
  .toolbar-text:hover {
    background-color: #eb96c2;
    border-radius: 5px;
    /* ปรับขนาดของมุม */
    font-family: "DM Serif Display", serif;
  }
  @import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);
